/.idea/

/.bundle/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/var/cache/dev/*
/var/logs/*
/var/sessions/dev/*

/bin/*
!bin/.gitkeep
!bin/setup*

/build/
/vendor/

/composer.phar

/.vagrant/local.json
/.vagrant/machines/

/web/uploads/*
!web/uploads/media/.gitkeep

/web/bundles/
/web/robots.txt

/log/

#frontend
/node_modules/
/public
/.sass-cache
/bower_components
/yarn.lock
/puphpet/files/dot/ssh/
